{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light with-background-image p-4">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/mortalkombatweb">
                        <img src="{% static 'images/header/logo2.png' %}" width="30" height="30"
                            class="d-inline-block align-top" alt="">
                        Mortal Kombat Wiki
                    </a>
    
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mortalweb:index'%}">Home </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mortalweb:characters'%}">Characters</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mortalweb:scenarios'%}">Scenarios </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mortalweb:contact'%}">Contact </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'mortalweb:crear_personajes'%}">Create Character </a>
                            </li>
                            {% if request.user.user_type == 'usuario' or request.user.user_type == 'entrenador' %}
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'mortalweb:choose_character'%}">Learn </a>
                            </li>
                            {% endif %}
                            {% if request.user.user_type == 'entrenador' %}
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'mortalweb:crear_coach'%}">Coaching </a>
                            </li>
                          
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        <a href="{% url 'accounts:logout'%}"><img src="{% static 'images/header/logout.svg' %}" class="usuario ml-3" alt="registro" style="width: 40px;"></a>
                        {% else %}
                        <a href="{% url 'accounts:login'%}"><img src="{% static 'images/header/user.svg' %}" class="usuario" alt="user" style="width: 35px;"></a>
                        <a href="{% url 'accounts:signup'%}"><img src="{% static 'images/header/register1.svg' %}" class="usuario ml-3" alt="registro" style="width: 40px;"></a>
                        {% endif %}
                        
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-start">
            <img src="{% static 'images/personajes/mileena.png' %}" id="personaje-image" alt="" class="col-4 w-25 m-5">
            <div class="col-7 d-flex flex-column align-items-center">
                <img src="{% static 'images/textos/create_character1.png' %}" class="w-50 mt-5" alt="Contacto">
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6">
                            <form method="post" enctype="multipart/form-data" class="text-center">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="form-group">
                                    <label for="{{ form.nombre.id_for_label }}" class="font-weight-bold">Nombre:</label>
                                    {{ form.nombre }}
                                    {% for error in form.nombre.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.precio.id_for_label }}" class="font-weight-bold">Precio €/h:</label>
                                    {{ form.precio }}
                                    {% for error in form.precio.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.descripcion.id_for_label }}" class="font-weight-bold">Descripción:</label>
                                    {{ form.descripcion }}
                                    {% for error in form.descripcion.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.personaje.id_for_label }}" class="font-weight-bold">Personaje:</label>
                                    {{ form.personaje }}
                                    {% for error in form.personaje.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.rank.id_for_label }}" class="font-weight-bold">Rank:</label>
                                    {{ form.rank }}
                                    {% for error in form.rank.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.city.id_for_label }}" class="font-weight-bold">Ciudad:</label>
                                    {{ form.city }}
                                    {% for error in form.city.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mt-3 mb-5">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
        <footer class="footer bg-primary-tertiary text-center">
            <div class="container p-4 pb-0">
                <section>
                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;"
                        href="#!" role="button"><i class="fab fa-twitter"></i></a>

                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
                        href="#!" role="button"><i class="fab fa-google"></i></a>

                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
                        href="#!" role="button"><i class="fab fa-instagram"></i></a>

                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

                    <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                        href="#!" role="button"><i class="fab fa-github"></i></a>
                </section>
                <nav class="breadcrumb bg-transparent d-inline-block">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="../characters.html">Characters</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liu Kang</li>

                    </ol>
                </nav>

            </div>

            <div class="text-center pb-5">

                © 2024 Mortal Kombat Wiki. Todos los derechos reservados. <br>
                Las imágenes utilizadas en este sitio están sujetas a derechos de autor y son propiedad de Warner Bros.
            </div>


        </footer>
        <script>
            document.getElementById("id_personaje").addEventListener("change", function () {
                var selectedValue = this.value;
                var image = document.getElementById("personaje-image");
                if (selectedValue === "Shao Kahn") {
                    image.src = "{% static 'images/personajes/aaaaaa.png' %}";
                } else if (selectedValue === "Kenshi") {
                    image.src = "{% static 'images/personajes/kenshi1.png' %}";

                }else if (selectedValue === "Scorpion") {
                    image.src = "{% static 'images/personajes/scorpion.png' %}"; 
                }
                else if (selectedValue === "Sub-Zero") {
                    image.src = "{% static 'images/personajes/subzero.png' %}"; 
                }
                else if (selectedValue === "Sindel") {
                    image.src = "{% static 'images/personajes/sindel1.png' %}"; 
                }
                else if (selectedValue === "Liu Kang") {
                    image.src = "{% static 'images/personajes/liu-kang-2.png' %}"; 
                }
                else if (selectedValue === "Raiden") {
                    image.src = "{% static 'images/personajes/raiden.png' %}"; 
                }
                else if (selectedValue === "Rain") {
                    image.src = "{% static 'images/personajes/rain1.png' %}"; 
                }
                else if (selectedValue === "Johnny Cage") {
                    image.src = "{% static 'images/personajes/jonny.png' %}"; 
                }
                else if (selectedValue === "Reptile") {
                    image.src = "{% static 'images/personajes/reptile.png' %}"; 
                }
                else if (selectedValue === "Smoke") {
                    image.src = "{% static 'images/personajes/smoke.png' %}"; 
                }
                else if (selectedValue === "Li Mei") {
                    image.src = "{% static 'images/personajes/li_mei1.png' %}"; 
                }
                else if (selectedValue === "Nitara") {
                    image.src = "{% static 'images/personajes/nitara.png' %}"; 
                }
                else if (selectedValue === "Geras") {
                    image.src = "{% static 'images/personajes/geras.png' %}"; 
                }
                else if (selectedValue === "Havik") {
                    image.src = "{% static 'images/personajes/havik1.png' %}"; 
                }
                else if (selectedValue === "Kitana") {
                    image.src = "{% static 'images/personajes/kitana1.png' %}"; 
                }
                else if (selectedValue === "Mileena") {
                    image.src = "{% static 'images/personajes/mileena.png' %}"; 
                }
                else if (selectedValue === "Kung Lao") {
                    image.src = "{% static 'images/personajes/kung.png' %}"; 
                }
 
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>